/* ------------- general ------------- */

* {
  font-family: "Roboto";
}

.intro {
  position: absolute;
  width: 100%;
  height: 20vh;
  background: linear-gradient(15deg, #00a9f1, #cf00f1);
  z-index: -1;
  top: 0;
  margin-bottom: 100px;
}

h3 {
  font-weight: 500;
  font-size: 25px;
  color: whitesmoke;
}

.general {
  /* background-color: whitesmoke; */
  background: url(../components/images/background.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1vh;
}

.nav h2 {
  font-family: Roboto, sans-serif;
  color: whitesmoke;
  font-weight: 100;
  font-size: 80px;
  margin: 0;
  padding: 30px;
  text-transform: uppercase;
  width: 70%;
}

@media (max-width: 769px) {
  .nav h2 {
    font-size: 30px;
  }
}

a {
  font-size: 30px;
  margin-left: 30px;
  transition: all 0.1s ease;
}
@media (max-width: 769px) {
  a {
    font-size: 20px;
    margin-left: 15px;
  }
}

a:hover {
  color: rgb(184, 41, 108);
  font-weight: 700;
}

.exchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exchange p {
  font-size: 25px;
  font-weight: bold;
}

select {
  margin-bottom: 16px;
  width: 5vh;
  height: 2vh;
}

@media (max-width: 769px) {
  h4 {
    display: none;
  }
  .nav h2 {
    margin: 2vh;
  }
}

/* ------------- table ------------- */

.chartandlist {
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: all 0.1s ease;

  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  /* min-height: 100vh; */
}

.table {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  margin-right: 1vh;
  padding: 20px;
  border-radius: 2%;
}

.tableList:hover {
  background-color: grey;
  cursor: pointer;
}

.chart {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.705);
  height: 40%;
  border-radius: 2%;
}

.chart:hover {
  background-color: white;
}

td {
  padding: 0 10px;
}

.tableHeader {
  color: rgb(163, 219, 236);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .chartandlist {
    margin: 0 auto;
    flex-direction: column;
  }
  .table {
    margin-bottom: 1vh;
    align-items: center;
  }
}

@media (max-width: 655px) {
  .chart {
    width: 555px;
  }
}
@media (max-width: 580px) {
  .chart {
    width: 500px;
  }
}
@media (max-width: 510px) {
  .chart {
    width: 400px;
  }
}

/* ------------- after table ------------- */

#date {
  font-size: 13px;
  color: white;
}

/* ------------- conversion ------------- */

.convert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card3 {
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  justify-content: right;
  margin-top: 2px;
  width: 30%;
}

.pair {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0.5px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background-color: #32ccbc;
  font-weight: bold;
  flex-wrap: wrap;
}

.element {
  padding: 10px 10px;
}

@media (max-width: 600px) {
  .element {
    padding: 3px 3px;
  }
}

footer {
  position: relative;
  width: 100%;
  height: 100px; /* Height of the footer */
  background: rgb(22, 2, 109);
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  z-index: 999;
}

footer a {
  color: #0e76a8;
  font-size: 20px;
  font-weight: bold;
  margin-left: 1vh;
  margin-right: 3vh;
}

footer p {
  color: white;
}

@media (max-width: 769px) {
  footer div {
    display: flex;
    flex-direction: row;
    margin-left: 3vh;
  }
  footer a {
    font-size: 16px;
  }

  footer p {
    font-size: 13px;
  }
  footer h3 {
    margin-left: 3vh;
  }
}
